<h1>Example App: Home</h1>
<p>Are you a Professor or a Student</p>
<p>
  <a href="/professor.handlebars"><input type="button" value="Professor" id="profButton" />
  <a href="student"><input type="button" value="Student" id="studButton" />
</p>
